---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
{% logEntry "4025.7", "Captain Khadija" %}
<img alt="pine" src="/images/pine.png" width="50" />